<html>
  <body>
<div class="suckertreemenu"> 
<ul id="treemenu1"> 

<li><a href="#"  style="border-left: 1px solid black">Administration</a> 
  <ul> 
  <li><%= link_to "Users", users_path, :remote=>true %> </li> 
  <li><%= link_to "Students", students_path, :remote=>true %></li> 
  <li><%= link_to "Teachers",  teachers_path, :remote=>true%></li> 
  <li><%= link_to "Centers", centers_path, :remote=>true %></li> 
  <li><%= link_to "Classrooms", lounges_path, :remote=>true %></li>
  <li><%= link_to "Subjects", subjects_path, :remote=>true %></li>
  </ul> 
</li> 
<li><%= link_to "Classes", student_classes_path %></li> 
<li><%= link_to "Logo out", signout_path %>   </a> 
</ul> 
<br style="clear: left;" /> 

</div>
<div id="working_area"></div>    
</body>
</html>